/* Shared Styles  */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
body {
  max-width: 1140px;
  margin: 0 auto;
}
span{
  color: #E95A08;
}
section {
  margin-top: 50px;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
} 
p {
  color: gray;
}
/* Header Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #ddd; */
  margin: 10px 0;
}
nav img {
  width: 130px;
  height: auto;
}
nav ul {
  display: flex;
  gap: 20px;
  padding: 0;
}
nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  font-weight: 500;
  color: gray;
}
.active-list {
  color: black;
}

/* Hero Styles  */
.hero-container{
  display: flex;
  /* border: 1px solid #ddd; */
  align-items: end;
}
.hero-text-container h1 {
  font-size: 4rem;
  margin: 0;
}
.hero-container img {
    width: 100%;
    height: auto;
  }
/* Our Plants Section Styles */
.our-plants-container {
  text-align: center;
  margin: 50px 0;
  width: 70%;
  margin: 0 auto;
}
.plants-cards-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
    /* border: 1px solid black; */

}
.plant-card{
  /* border: 1px solid black; */
  text-align: center;
  margin-bottom: 30px;
  
}
.plant-card img {
  width: 100%;
  height: auto;
}
.plant-card button{
  background-color: #E95A08;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100%;
}



/* Responsive For Mobile */

@media screen and (max-width: 576px) {
  body{
    padding: 0 10px;
  }
  nav img {
    width: 80px;
  }
  .hidden-list {
    display: none;
  }
  .hero-container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-container img {
    width: 100%;
    height: auto;
  }
  .hero-text-container h1 {
  font-size: 2rem;
}
.our-plants-container {
  text-align: center;
  margin: 50px 0;
  width: 90%;
  margin: 0 auto;
}
.plants-cards-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
}

/* Responsive For Tablet  */

@media screen and (min-width: 577px) and (max-width: 768px) {
  body{
    padding: 0 10px;
  }
  .hero-container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-text-container h1 {
    font-size: 2rem;
    margin-top: 20px;
  }
  .plants-cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
} 